@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'hemingVariable';
  src: url('/fonts/CircularSpotify.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'hemingVariable Fallback';
  src: local("Arial");
  ascent-override: 65.29%;
  descent-override: 16.99%;
  line-gap-override: 8.94%;
  size-adjust: 111.80%;
}

.custom-font {
  font-family: 'hemingVariable', 'hemingVariable Fallback', sans-serif;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
